<template>
    <BookingForm :bookings="bookings" @formsubmit="manageForm" button-label="Créer la réservation"/>
</template>

<script>
import BookingForm from "@/Components/Forms/BookingForm";
import AppLayout from "@/Layouts/AppLayout";

export default {
    name: "Create",
    layout: AppLayout,
    components: {
        BookingForm,
    },
    props: {
        bookings: Array,
    },
    setup()
    {
        const manageForm = function(form)
        {
            form.post('/bookings', {
                onError: () => console.log(form.errors)
            })
        }

        return {manageForm}
    }
}
</script>
