<template>
    <BookingForm :bookings="bookings" @formsubmit="manageForm"
                 :starts_at="booking.starts_at"
                 :ends_at="booking.ends_at"
                 :babies_count="booking.babies_count"
                 :pets_count="booking.pets_count"
                 :notes="booking.notes"
                 :customers="booking.customers"
                 :button-label="'Mettre à jour la réservation n°' + booking.id"/>
</template>

<script>
import BookingForm from "@/Components/Forms/BookingForm";
import AppLayout from "@/Layouts/AppLayout";

export default {
    name: "Edit",
    layout: AppLayout,
    components: {
        BookingForm,
    },
    props: {
        bookings: Array,
        booking: Object,
    },
    setup(props)
    {
        const manageForm = function(form)
        {
            form.put('/bookings/' + props.booking.id, {
                onError: () => console.log(form.errors)
            })
        }

        return {manageForm}
    }
}
</script>
