<template>
    <div class="flex flex-col gap-2">
        <div class="flex gap-4">
            <Content class="flex-1">
                <Title class="flex justify-between">
                    <div>Réservation n°{{booking.id}}</div>
                    <div class="flex gap-2">
                        <Link :href="'/bookings/'+booking.id+'/edit'" class="rounded bg-primary px-2 py-1">
                            <i class="fa fa-edit"></i> Modifier
                        </Link>
                        <Link method="delete" as="button" :href="'/bookings/'+booking.id" class="rounded bg-danger px-2 py-1" :onBefore="() => window.confirm('Veux-tu VRAIMENT supprimer cette réservation ? Cette action est irréversible !')">
                            <i class="fa fa-trash"></i> Supprimer
                        </Link>
                    </div>
                </Title>
                <div>
                    <div>Arrivée le <span class="font-bold">{{startDate}}</span> à <span class="font-bold">{{startHour}}</span></div>
                    <div>Départ le <span class="font-bold">{{endDate}}</span> à <span class="font-bold">{{endHour}}</span></div>
                </div>

                <div class="flex justify-center gap-8">
                    <div class="flex flex-col items-center flex-1 max-w-xs">
                        <i class="fa fa-3x fa-baby text-primary"></i>
                        {{booking.babies_count}}
                    </div>
                    <div class="flex flex-col items-center flex-1 max-w-xs">
                        <i class="fa fa-3x fa-dog text-primary"></i>
                        {{booking.pets_count}}
                    </div>
                </div>
            </Content>

            <Content class="flex-1">
                <Title>Notes : </Title>
                <div>{{booking.notes}}</div>
            </Content>
        </div>
        <Content>
            <Title>Clients : </Title>
            <div class="grid grid-cols-4 gap-4">
                <CustomerForm v-for="customer in booking.customers" :id="customer.id"
                              v-model:first-name="customer.first_name"
                              v-model:last-name="customer.last_name"
                              v-model:phone="customer.phone"
                              v-model:address="customer.address"
                              v-model:notes="customer.notes"
                              :readonly="true"
                />
            </div>
        </Content>
    </div>
</template>

<script>
import { DatePicker } from 'v-calendar'
import AppLayout from "@/Layouts/AppLayout";
import NumberInput from "@/Components/Inputs/NumberInput";
import CustomerForm from "@/Components/Forms/CustomerForm";
import { DateTime } from "luxon";
import Button from "@/Components/Inputs/Button";
import CustomerSelector from "@/Components/Inputs/CustomerSelector";
import Content from "@/Components/Blocks/Content";
import Title from "@/Components/Blocks/Title";
import { Link } from '@inertiajs/inertia-vue3'

export default {
    name: "Create",
    layout: AppLayout,
    components: {
        Content,
        CustomerSelector,
        Button,
        CustomerForm,
        NumberInput,
        DatePicker,
        Title,
        Link,
    },
    props: {
        booking: Object,
    },
    setup(props) {
        let startDateTime = DateTime.fromFormat(props.booking.starts_at, 'yyyy-MM-dd HH:mm:ss').setLocale('fr')
        let endDateTime = DateTime.fromFormat(props.booking.ends_at, 'yyyy-MM-dd HH:mm:ss').setLocale('fr')
        let startDate = startDateTime.toLocaleString({month: 'long', day: 'numeric', year: 'numeric'})
        let startHour = startDateTime.toLocaleString({ hour: '2-digit', minute: '2-digit', hourCycle: 'h23' })
        let endDate = endDateTime.toLocaleString({month: 'long', day: 'numeric', year: 'numeric'})
        let endHour = endDateTime.toLocaleString({ hour: '2-digit', minute: '2-digit', hourCycle: 'h23' })

        return {startDate, startHour, endDate, endHour}
    }
}
</script>
