<template>
    <div class="p-4 flex flex-col gap-4 bg-secondary border border-secondary-light rounded mt-2 text-primary-light">
        <slot/>
    </div>
</template>

<script>
export default {
    name: "Content"
}
</script>
