<template>
    <div class="flex flex-col gap-1">
        <label>{{label}}</label>
        <slot/>
    </div>
</template>

<script>
export default {
    name: "FormElement",
    props: {
        label: String
    }
}
</script>

<style scoped>

</style>
