<template>
    <CustomerForm :id="customer.id"
                  v-model:first-name="customer.first_name"
                  v-model:last-name="customer.last_name"
                  v-model:phone="customer.phone"
                  v-model:address="customer.address"
                  v-model:notes="customer.notes"
                  :readonly="true"
    />
</template>

<script>
import CustomerForm from "@/Components/Forms/CustomerForm";
import AppLayout from "@/Layouts/AppLayout";
export default {
    name: "Edit",
    layout: AppLayout,
    components: {
        CustomerForm
    },
    props: {
        customer: Object,
    },
    setup(props)
    {
        const manageForm = function(form)
        {
            form.put('/customer/' + props.customer.id, {
                onError: () => console.log(form.errors)
            })
        }

        return {manageForm}
    }
}
</script>

<style scoped>

</style>
