<template>
    <div class="p-4 flex flex-col gap-4 bg-secondary border border-secondary-light rounded mt-2 text-white text-lg">
        <div class="text-white text-xl">Réservations de {{ customer.first_name }} {{ customer.last_name }} :</div>
        <div v-if="bookings.length === 0">
            Aucune réservation de prévue
        </div>
        <div v-else class="flex flex-col gap-2">
            <div v-for="booking in bookings" class="flex gap-2 items-center">
                <div>
                    <span class="font-bold">{{ formatDate(booking.starts_at) }} : </span>
                </div>
                <Link :href="'/bookings/'+booking.id" class="rounded bg-primary px-2 py-1">
                    <i class="fa fa-eye"></i> Voir
                </Link>
                <Link :href="'/bookings/'+booking.id+'/edit'" class="rounded bg-primary px-2 py-1">
                    <i class="fa fa-edit"></i> Modifier
                </Link>
                <Link method="delete" as="button" :href="'/bookings/'+booking.id" class="rounded bg-danger px-2 py-1" :onBefore="() => window.confirm('Veux-tu VRAIMENT supprimer cette réservation ? Cette action est irréversible !')">
                    <i class="fa fa-trash"></i> Supprimer
                </Link>
            </div>
        </div>
    </div>
</template>

<script>
import {computed} from "vue";
import {DateTime} from "luxon";
import AppLayout from "@/Layouts/AppLayout";
import { Link } from '@inertiajs/inertia-vue3'

export default {
    name: "Show",
    layout: AppLayout,
    components: {
        Link,
    },
    props: {
        customer: Object,
        bookings: Array
    },
    setup(props) {
        const futureBookings = computed(() => props.bookings.filter(e => DateTime.fromFormat(e.starts_at, 'yyyy-MM-dd HH:mm:ss') > Date.now()))
        function formatDate(date) {
            return DateTime.fromFormat(date, 'yyyy-MM-dd HH:mm:ss').setLocale('fr').toLocaleString({month: 'long', day: 'numeric'})
        }

        function formatBooking(booking) {
            return 'Famille ' + booking.customers[0].last_name
        }

        return { futureBookings, formatDate, formatBooking, window }
    }
}
</script>

<style scoped>

</style>
