<template>
    <form @submit.prevent="submit">
        <div v-if="form.errors.starts_at || form.errors.starts_at" class="text-center text-red-900 text-lg">
            Veuillez renseigner une date de début et une date de fin
        </div>
        <BookingCalendar :bookings="allBookings" @day-selected="setNewBookingDate"/>
        <div class="mt-2 flex gap-4 flex-col md:flex-row">
            <div class="flex-1 border rounded border-primary text-primary-light bg-secondary p-4">
                <div v-if="newBookingData.start_date" class="flex flex-col gap-2 items-center">
                    <div class="text-center text-white text-xl">Arrivée prévue le {{newBookingFormattedStartDate}} à</div>
                    <TimePicker class="w-full max-w-xs" v-model="newBookingData.start_hour"/>
                    <div v-if="newBookingStartDateCollisionHour" class="text-orange-600 font-bold">
                        Attention : départ prévu le même jour à {{newBookingStartDateCollisionHour}}
                    </div>
                </div>
                <div v-else class="text-center text-white text-xl">
                    Sélectionnez une date d'arrivée
                </div>
            </div>
            <div class="flex-1 border rounded border-primary text-primary-light bg-secondary p-4">
                <div v-if="newBookingData.end_date" class="flex flex-col gap-2 items-center">
                    <div class="text-center text-white text-xl">Départ prévu le {{newBookingFormattedEndDate}} à</div>
                    <TimePicker class="w-full max-w-xs" v-model="newBookingData.end_hour"/>
                    <div v-if="newBookingEndDateCollisionHour" class="text-orange-600 font-bold">
                        Attention : arrivée prévue le même jour à {{newBookingEndDateCollisionHour}}
                    </div>
                </div>
                <div v-else class="text-center text-white text-xl">
                    Sélectionnez une date de départ
                </div>
            </div>
        </div>
        <div class="p-4 flex flex-col gap-4 bg-secondary border border-secondary-light rounded mt-2">
            <div class="text-center text-white text-xl">Informations de la réservation</div>
            <div class="flex justify-center gap-8">
                <div class="flex flex-col items-center flex-1 max-w-xs">
                    <i class="fa fa-3x fa-baby text-primary"></i>
                    <NumberInput class="w-full" v-model="form.babies_count"/>
                </div>
                <div class="flex flex-col items-center flex-1 max-w-xs">
                    <i class="fa fa-3x fa-dog text-primary"></i>
                    <NumberInput class="w-full" v-model="form.pets_count"/>
                </div>
            </div>
            <div v-if="form.errors.customers" class="text-center text-red-900 text-lg">
                Au moins un client doit être lié à la reservation
            </div>
            <div class="flex gap-4">
                <Button type="button" @click="createCustomer">Créer un nouveau client</Button>
                <CustomerSelector class="flex-1" @selected="addCustomer"/>
            </div>

            <div v-if="form.customers.length === 0" class="font-bold text-white text-center">
                Ajoutez un nouveau client en cliquant sur le bouton "Créer un nouveau client" ou recherchez un client existant à ajouter.
            </div>
            <div class="grid grid-cols-4 gap-4">
                <CustomerForm v-for="(customer, index) in form.customers" :id="customer.id"
                              v-model:first-name="customer.first_name"
                              v-model:last-name="customer.last_name"
                              v-model:phone="customer.phone"
                              v-model:address="customer.address"
                              v-model:notes="customer.notes"
                              :errors="getErrors(index)"
                              @remove="() => removeCustomer(index)"
                />
            </div>

            <div class="flex flex-col gap-2">
                <div class="text-xl text-white">Notes</div>
                <textarea-input v-model="form.notes" class="w-full h-32"/>
            </div>
            <div class="flex justify-center">
                <Button class="w-1/3" type="submit">{{buttonLabel}}</Button>
            </div>
        </div>
    </form>
</template>

<script>
import { DatePicker } from 'v-calendar'
import {computed, reactive} from 'vue'
import AppLayout from "@/Layouts/AppLayout";
import NumberInput from "@/Components/Inputs/NumberInput";
import CustomerForm from "@/Components/Forms/CustomerForm";
import { DateTime } from "luxon";
import Button from "@/Components/Inputs/Button";
import CustomerSelector from "@/Components/Inputs/CustomerSelector";
import { useForm } from '@inertiajs/inertia-vue3'
import BookingCalendar from "@/Components/Inputs/BookingCalendar";
import TimePicker from "@/Components/Inputs/TimePicker";
import TextareaInput from "@/Components/Inputs/TextareaInput";

export default {
    name: "BookingForm",
    layout: AppLayout,
    components: {
        TextareaInput,
        TimePicker,
        BookingCalendar,
        CustomerSelector,
        Button,
        CustomerForm,
        NumberInput,
        DatePicker
    },
    props: {
        bookings: Array,
        starts_at: {
            type: String,
            default: null,
        },
        ends_at: {
            type: String,
            default: null,
        },
        babies_count: {
            type: Number,
            default: 0,
        },
        pets_count: {
            type: Number,
            default: 0,
        },
        notes: {
            type: String,
            default: null,
        },
        customers: {
            type: Array,
            default: [],
        },
        buttonLabel: String
    },
    setup(props, {emit}) {
        const form = useForm({
            starts_at: props.starts_at,
            ends_at: props.ends_at,
            babies_count: props.babies_count,
            pets_count: props.pets_count,
            notes: props.notes,
            customers: props.customers,
        })

        const getDateInfo = function(date)
        {
            if (!date) {
                return {
                    date: null,
                    hour: '00:00:00',
                }
            }

            return {
                date: date.substring(0, 10),
                hour: date.substring(11, 19),
            }
        }

        const startDateInfo = getDateInfo(props.starts_at)
        const endDateInfo = getDateInfo(props.ends_at)

        let newBookingData = reactive({
            start_date: startDateInfo.date,
            start_hour: startDateInfo.hour,
            end_date: endDateInfo.date,
            end_hour: endDateInfo.hour,
        })

        const newBookingFormattedStartDate = computed(
            () => DateTime.fromFormat(newBookingData.start_date, 'yyyy-MM-dd')
                .setLocale('fr').toLocaleString({month: 'long', day: 'numeric'})
        )

        const newBookingFormattedEndDate = computed(
            () => DateTime.fromFormat(newBookingData.end_date, 'yyyy-MM-dd')
                .setLocale('fr').toLocaleString({month: 'long', day: 'numeric'})
        )

        const newBookingStartDateCollisionHour = computed(
            () => {
                let collisionBooking = props.bookings.find(booking => booking.ends_at.substring(0, 10) === newBookingData.start_date)
                if (!collisionBooking) {
                    return null
                }

                return collisionBooking.ends_at.substring(11, 16)
            }
        )

        const newBookingEndDateCollisionHour = computed(
            () => {
                let collisionBooking = props.bookings.find(booking => booking.starts_at.substring(0, 10) === newBookingData.end_date)
                if (!collisionBooking) {
                    return null
                }

                return collisionBooking.starts_at.substring(11, 16)
            }
        )

        function createCustomer()
        {
            form.customers.push({
                id: null,
                first_name: '',
                last_name: '',
                phone: '',
                address: '',
                notes: '',
            })
        }

        function addCustomer(customer)
        {
            form.customers.push(customer)
        }

        function removeCustomer(index)
        {
            form.customers.splice(index, 1)
        }

        function submit()
        {
            form.starts_at = newBookingData.start_date + ' ' + newBookingData.start_hour
            form.ends_at = newBookingData.end_date + ' ' + newBookingData.end_hour

            emit('formsubmit', form)
        }

        function getErrors(index)
        {
            let itemErrors = {}
            Object.entries(form.errors).forEach(entry => {
                const [key, value] = entry
                if (key.startsWith('customers.' + index + '.')) {
                    itemErrors[key.replace('customers.' + index + '.', '')] = value
                }
            });

            return itemErrors;
        }

        const allBookings = computed(() => {
            let bookingsArray = []
            for (let i = 0; i < props.bookings.length; i++) {
                props.bookings[i].color = 'red'
                bookingsArray.push(props.bookings[i])
            }

            let newBookingStartDate = getDateFrom(newBookingData.start_date, newBookingData.start_hour)
            let newBookingEndDate = getDateFrom(newBookingData.end_date, newBookingData.end_hour)

            if (newBookingStartDate && newBookingEndDate) {
                bookingsArray.push({
                    starts_at: newBookingStartDate,
                    ends_at: newBookingEndDate,
                    customers: [],
                    color: 'green',
                })
            }

            return bookingsArray
        })

        function getDateFrom(date, hour)
        {
            if (!date) {
                return null
            }

            if (!hour) {
                hour = '00:00:00'
            }

            return date + ' ' + hour
        }

        function setNewBookingDate(event)
        {
            if (newBookingData.start_date === null) {
                newBookingData.start_date = event.id
                newBookingData.end_date = event.id

                return;
            }

            if (event.id < newBookingData.start_date) {
                newBookingData.start_date = event.id

                return;
            }

            if (event.id > newBookingData.end_date) {
                newBookingData.end_date = event.id

                return;
            }

            newBookingData.start_date = event.id
            newBookingData.end_date = event.id
        }

        return {
            form, submit, createCustomer, allBookings, addCustomer, removeCustomer, getErrors, setNewBookingDate,
            newBookingData, newBookingFormattedStartDate, newBookingFormattedEndDate, newBookingStartDateCollisionHour, newBookingEndDateCollisionHour}
    }
}
</script>
