<template>
    <div class="flex flex-col gap-2 bg-primary-dark border border-primary text-primary-light rounded p-2 relative">
        <div v-if="!readonly" class="absolute top-2 right-2" @click="$emit('remove')">
            <i class="fa fa-times fa-lg"></i>
        </div>
        <FormElement label="Identité">
            <div class="flex gap-2" v-if="id === null">
                <TextInput placeholder="Prénom" :error="errors.first_name ?? ''"
                           :model-value="firstName" @update:model-value="$emit('update:firstName', $event)"/>
                <TextInput placeholder="Nom" :error="errors.last_name ?? ''"
                           :model-value="lastName" @update:model-value="$emit('update:lastName', $event)"/>
            </div>
            <div v-else class="p-1">
                {{firstName}} {{lastName}}
            </div>
        </FormElement>

        <FormElement label="Coordonnées">
            <div class="flex gap-2" v-if="id === null">
                <TextInput placeholder="Téléphone" :model-value="phone" @update:model-value="$emit('update:phone', $event)"/>
                <TextInput placeholder="Adresse" :model-value="address" @update:model-value="$emit('update:address', $event)"/>
            </div>
            <div v-else class="p-1">
                <div class="flex gap-2">
                    <div><i class="fa fa-phone"></i> {{!phone ? 'Aucun numéro' : phone}} </div>
                    <div><i class="fa fa-map-pin"></i> {{!address ? 'Aucune adresse' : address}} </div>
                </div>
            </div>
        </FormElement>

        <FormElement label="Notes">
            <TextareaInput v-if="id === null" :model-value="notes" @update:model-value="$emit('update:notes', $event)"/>
            <div v-else class="p-1">
                {{!notes ? 'Aucune note' : notes}}
            </div>
        </FormElement>
    </div>
</template>

<script>
import TextInput from "@/Components/Inputs/TextInput";
import TextareaInput from "@/Components/Inputs/TextareaInput";
import FormElement from "@/Components/Blocks/FormElement";
export default {
    name: "Customer",
    components: {FormElement, TextareaInput, TextInput},
    props: {
        id: Number,
        firstName: String,
        lastName: String,
        phone: String,
        address: String,
        notes: String,
        errors: Object,
        readonly: {
            type: Boolean,
            default: false,
        }
    }
}
</script>

<style scoped>

</style>
