<template>
    <Calendar :is-expanded="true" :attributes="dates" is-dark @dayclick="$emit('day-selected', $event)"></Calendar>
</template>

<script>
import { Calendar } from 'v-calendar';
import AppLayout from "@/Layouts/AppLayout";
import {computed} from "vue";
import {DateTime} from "luxon";

export default {
    name: "BookingCalendar",
    layout: AppLayout,
    components: {
        Calendar,
    },
    props: {
        bookings: Array,
    },
    setup(props) {
        function getBookingHighlight(booking)
        {
            let contentColor = 'blue'

            if (booking.ends_at < Date.now()) {
                contentColor = 'grey'
            }

            if (booking.color) {
                contentColor = booking.color
            }

            return {
                start: { color: contentColor, fillMode: 'solid' },
                base: { color: contentColor, fillMode: 'light' },
                end: { color: contentColor, fillMode: 'solid' },
            }
        }

        const dates = computed(() => {
            let datesArray = []
            for (let i = 0; i < props.bookings.length; i++) {
                let starts_at = DateTime.fromFormat(props.bookings[i].starts_at, 'yyyy-MM-dd HH:mm:ss');
                let ends_at = DateTime.fromFormat(props.bookings[i].ends_at, 'yyyy-MM-dd HH:mm:ss');

                datesArray.push({
                    highlight: getBookingHighlight(props.bookings[i]),
                    dates: {
                        start: starts_at.toJSDate(),
                        end: ends_at.toJSDate()
                    },
                    popover: {
                        label: getBookingLabel(props.bookings[i]),
                        visibility: 'focus'
                    }
                })
            }

            function getBookingLabel(booking)
            {
                if (!booking.customers || booking.customers.length === 0) {
                    return 'Nouvelle réservation'
                }

                let format = {month: 'long', day: 'numeric'}
                let starts_at = DateTime.fromFormat(booking.starts_at, 'yyyy-MM-dd HH:mm:ss')
                let ends_at = DateTime.fromFormat(booking.ends_at, 'yyyy-MM-dd HH:mm:ss')

                return 'Réservation de la famille ' + booking.customers[0].last_name + ' du ' + starts_at.setLocale('fr').toLocaleString(format) + ' au ' +
                    ends_at.setLocale('fr').toLocaleString(format)
            }

            return datesArray
        })

        return {dates}
    }
}
</script>

<style scoped>

</style>
