<template>
    <Link class="p-4 rounded border border-primary text-primary-light" :class="!isCurrentRoute ? 'bg-primary-dark':'bg-primary'" :href="href"><slot/></Link>
</template>

<script>
import { Link, usePage } from '@inertiajs/inertia-vue3'
import {computed, watch, ref} from 'vue'
export default {
    name: "ButtonLink",
    components: {
        Link
    },
    props: {
        route: String,
        routeParams: {
            type: Object,
            default: {}
        },
    },
    setup(props) {
        let href = computed(() => route(props.route, props.routeParams))
        let isCurrentRoute = ref(route().current(props.route, props.routeParams))
        watch(usePage().url, (url, prevUrl) => {
            isCurrentRoute.value = route().current(props.route, props.routeParams)
        })


        return {href, isCurrentRoute}
    }
}
</script>

<style scoped>

</style>
