<template>
    <button class="p-2 rounded border border-primary-dark bg-primary text-primary-light">
        <slot/>
    </button>
</template>

<script>
export default {
    name: "Button",
}
</script>

<style scoped>

</style>
