<template>
    <div class="flex flex-col">
        <TextInput @focusin="focused = true" @focusout="focused = false" class="rounded" v-model="search" placeholder="Rechercher un client, un numéro..."/>
        <div class="relative" v-if="focused">
            <div v-if="search.length > 1" class="absolute top-0 left-0 flex flex-col z-10 bg-white bg-primary rounded-b w-full divide-y-1 text-primary-light">
                <div v-if="results.value.length > 0">
                    <div v-for="customer in results.value" @mousedown="e => onSelect(customer)" class="cursor-pointer bg-primary hover:bg-primary-dark p-2">
                        <div>{{customer.first_name}} {{customer.last_name}}</div>
                        <div class="flex gap-2">
                            <div><i class="fa fa-phone"></i> {{!customer.phone ? 'Aucun numéro' : customer.phone}} </div>
                            <div><i class="fa fa-map-pin"></i> {{!customer.address ? 'Aucune adresse' : customer.address}} </div>
                        </div>
                    </div>
                </div>
                <div v-else>
                    Aucun client ne correspond à cette recherche =(
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import TextInput from "@/Components/Inputs/TextInput";
import {reactive, ref, watch} from "vue";
export default {
    name: "CustomerSelector",
    components: {TextInput},
    setup(props, {emit}) {
        let search = ref('')
        let focused = ref(false)
        let results = reactive({value:[]})

        watch(search, (search, prevSearch) => {
            if (search.length > 1) {
                axios.get(route('customers.index', {search}))
                    .then((response) => {
                        results.value = response.data
                    })
            }
            else
            {
                results.value = []
            }
        })

        function onSelect(customer)
        {
            emit('selected', customer)
        }

        return {search, results, onSelect, focused}
    }
}
</script>

<style scoped>

</style>
