<template>
    <div class="flex">
        <button type="button" @click="decrement" class="w-1/3 text-4xl rounded-l border border-primary bg-primary-dark text-primary">-</button>
        <div class="w-1/3 py-4 text-4xl bg-primary text-primary-light flex items-center justify-center">{{modelValue}}</div>
        <button type="button" @click="increment" class="w-1/3 text-4xl rounded-r border border-primary bg-primary-dark text-primary">+</button>
    </div>
</template>

<script>
import TextInput from "@/Components/Inputs/TextInput";
export default {
    name: "NumberInput",
    components: {TextInput},
    props: {
        modelValue: Number,
    },
    setup(props, {emit})
    {
        const increment = () => {
            emit('update:modelValue', props.modelValue + 1)
        }

        const decrement = () => {
            if (props.modelValue >= 1) {
                emit('update:modelValue', props.modelValue - 1)
            }
        }

        return {increment, decrement}
    }
}
</script>

<style scoped>

</style>
