<template>
    <textarea class="p-2 bg-primary text-primary-light rounded" @input="$emit('update:modelValue', $event.target.value)">{{modelValue}}</textarea>
</template>

<script>
export default {
    name: "TextareaInput",
    props: {
        modelValue: String
    }
}
</script>

<style scoped>

</style>
