<template>
    <div>
        <input type="text" :placeholder="placeholder" :class="error && modelValue === '' ? 'border-red-900 border':''" class="p-2 bg-primary text-primary-light rounded w-full" :value="modelValue" @input="$emit('update:modelValue', $event.target.value)">
        <div v-if="error && modelValue === ''" class="text-red-900 text-sm">
            {{error}}
        </div>
    </div>
</template>

<script>
export default {
    name: "TextInput",
    props: {
        modelValue: String,
        error: String,
        placeholder: String
    }
}
</script>

<style scoped>

</style>
