<template>
    <div class="flex rounded border border-primary bg-primary-dark text-primary-light text-4xl text-center items-center">
        <div class="flex-1">
            <div><button type="button" @click="() => updateHour(1)"><i class="fa fa-caret-up"></i></button></div>
            <div>{{hours}}</div>
            <div><button type="button" @click="() => updateHour(-1)"><i class="fa fa-caret-down"></i></button></div>
        </div>
        <div class="flex-1">
            :
        </div>
        <div class="flex-1">
            <div><button type="button" @click="() => updateMinutes(1)"><i class="fa fa-caret-up"></i></button></div>
            <div>{{minutes}}</div>
            <div><button type="button" @click="() => updateMinutes(-1)"><i class="fa fa-caret-down"></i></button></div>
        </div>
    </div>
</template>

<script>
import {computed} from "vue";

export default {
    name: "TimePicker",
    props: {
        modelValue: {
            type: String,
            default: '00:00:00',
        },
        hourIncrement: {
            type: Number,
            default: 1,
        },
        minutesIncrement: {
            type: Number,
            default: 15,
        },
    },
    setup(props, {emit})
    {
        let time = props.modelValue
        if (!time) {
            time = '00:00:00'
        }

        function getValueData()
        {
            let time = props.modelValue
            if (!time) {
                time = '00:00:00'
            }
            const splitTime = time.split(':')

            return {
                hours: parseInt(splitTime[0]),
                minutes: parseInt(splitTime[1]),
            }
        }

        const hours = computed(() => {
            return getValueData().hours.toString().padStart(2, '0')
        })

        const minutes = computed(() => {
            return getValueData().minutes.toString().padStart(2, '0')
        })

        function updateHour(delta)
        {
            const data = getValueData()

            updateTime(getClosestValidHour(data.hours + props.hourIncrement * delta), data.minutes)
        }

        function updateMinutes(delta)
        {
            const data = getValueData()

            updateTime(data.hours, getClosestValidMinute(data.minutes + props.minutesIncrement * delta))
        }

        function getClosestValidHour(newValue)
        {
            if (newValue < 0 ) {
                return 24 - props.hourIncrement
            }

            if (newValue > 23) {
                return 0
            }

            return newValue
        }

        function getClosestValidMinute(newValue)
        {
            if (newValue < 0) {
                return 60 - props.minutesIncrement
            }

            if (newValue > 59) {
                return 0
            }

            return newValue
        }

        function updateTime(hours, minutes)
        {
            emit('update:modelValue', hours.toString().padStart(2, '0') + ':' + minutes.toString().padStart(2, '0') + ':00')
        }

        return  {hours, minutes, updateHour, updateMinutes}
    }
}
</script>

<style scoped>

</style>
