<template>
    <div>
        <header class="flex justify-between items-center px-2 py-4 border-b border-primary">
            <div class="text-primary-light text-xl">
                Camparra
                <button type="button" @click="modalOpened = true">v1.2.0 <i class="fa fa-question-circle"></i></button>
            </div>
            <div class="w-1/3">
                <CustomerSelector placeholder="Chercher un client" @selected="visitCustomer"/>
            </div>
        </header>
        <div class="flex flex-col p-4 bg-primary-dark items-center">
            <div class="flex gap-2 mb-4">
                <ButtonLink route="bookings.index">Voir toutes les réservations</ButtonLink>
                <ButtonLink route="bookings.create">Créer une réservation</ButtonLink>
            </div>
            <div class="w-full">
                <slot/>
            </div>
        </div>
        <vue-final-modal v-model="modalOpened" classes="flex justify-center items-center"
                         content-class="relative flex flex-col w-1/2 max-h-full border rounded border-primary text-primary-light bg-secondary p-4">
            <div class="flex flex-col gap-2">
                <div class="text-2xl">Quoi de neuf ?</div>
                <div>
                    <div class="text-xl font-bold">v1.2.0 - 07/06/2023</div>
                    <ul class="ml-4">
                        <li>Ajout de la suppression des reservations</li>
                    </ul>
                </div>
                <div>
                    <div class="text-xl font-bold">v1.1.1 - 18/06/2022</div>
                    <ul class="ml-4">
                        <li>La liste des reservations s'affiche maintenant dans l'ordre chronologique</li>
                    </ul>
                </div>
                <div>
                    <div class="text-xl font-bold">v1.1.0 - 29/05/2022</div>
                    <ul class="ml-4">
                        <li>Ajout des notes dans les reservations</li>
                        <li>Modification de l'apparance de la page d'une réservation</li>
                        <li>Ajout d'un bouton pour modifier une réservation sur la page d'une réservation</li>
                        <li>Ajout de boutons pour visualiser et modifier une reservation sur la page d'accueil (au lieu de devoir cliquer sur la reservation)</li>
                    </ul>
                </div>
                <div>
                    <div class="text-xl font-bold">v1.0.0 - 28/05/2022</div>
                    <ul class="ml-4">
                        <li>Déploiement initial de l'application</li>
                    </ul>
                </div>
            </div>
        </vue-final-modal>
    </div>
</template>

<script>
import CustomerSelector from "@/Components/Inputs/CustomerSelector";
import ButtonLink from "@/Components/Inputs/ButtonLink";
import {VueFinalModal} from "vue-final-modal";
import {ref} from "vue";
import { Inertia } from '@inertiajs/inertia'

export default {
    name: "AppLayout",
    components: {ButtonLink, CustomerSelector, VueFinalModal},
    setup(props) {
        let modalOpened = ref(false)

        function visitCustomer(customer) {
            console.log(customer)
            Inertia.get('/customers/' + customer.id)
        }

        return {modalOpened, visitCustomer}
    }
}
</script>

<style scoped>

</style>
